a {
	cursor: pointer;
}

#modal-image {
	position: relative;
}

#modal-image img {
	padding: 0;
	height: 100%; 
	width: 100%; 
}

#modal-text p {
	margin-bottom: -5px;
}

#close {
	color: white;
	position: absolute;
	right: 0px;
	top: 0px;
    padding: 0px 14px 8px 14px;
    background-color: rgba(0,0,0,0.7);
    font-size: 2em;
    font-weight: 600;
    text-shadow: none;
    border: none;
}

#close:hover {
	color: rgb(238, 95, 70);
}

.modal-footer {
	display: block;
	border: none;
	color: rgb(238, 95, 70);
	background-color: #1F2125;
}

.fa-thumbs-down {
	font-size: 50px;
	position: absolute;
	left: 2%;
	top: 50%;
	color: red;
}

.fa-thumbs-up {
	font-size: 50px;
	position: absolute;
	right: 2%;
	top: 50%;
	color: green;
}
